services:
  - type: web
    plan: free
    name: todo-api
    runtime: python
    buildCommand: "./build.sh"
    startCommand: python -m gunicorn django_project.asgi:application -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:$PORT
    envVars:
      - key: DATABASE_URL
        value: ${DATABASE_URL}
      - key: SECRET_KEY
        value: ${SECRET_KEY}
      - key: WEB_CONCURRENCY
        value: ${WEB_CONCURRENCY}

jobs:
  - type: job
    name: migrate
    runtime: python
    startCommand: python manage.py migrate
    envVars:
      - key: DATABASE_URL
        value: ${DATABASE_URL}
      - key: SECRET_KEY
        value: ${SECRET_KEY}

  - type: job
    name: create-superuser
    runtime: python
    startCommand: python manage.py createsuperuser --noinput --username admin --email admin@email.com
    envVars:
      - key: DATABASE_URL
        value: ${DATABASE_URL}
      - key: SECRET_KEY
        value: ${SECRET_KEY}
      - key: DJANGO_SUPERUSER_PASSWORD
        value: ${DJANGO_SUPERUSER_PASSWORD}
