services:
  - type: web
    plan: free
    name: todo-api
    runtime: python
    buildCommand: "./build.sh"
    startCommand: python -m gunicorn django_project.asgi:application -k uvicorn.workers.UvicornWorker
    envVars:
      - key: DATABASE_URL
        value: ${DATABASE_URL}
      - key: SECRET_KEY
        value: ${SECRET_KEY}
      - key: WEB_CONCURRENCY
        value: ${WEB_CONCURRENCY}
      - key: DJANGO_SUPERUSER_PASSWORD
        value: ${DJANGO_SUPERUSER_PASSWORD}

  - type: job
    name: create-superuser
    runtime: python
    startCommand: python manage.py create_superuser_if_not_exists
    envVars:
      - key: DATABASE_URL
        value: ${DATABASE_URL}
      - key: SECRET_KEY
        value: ${SECRET_KEY}
      - key: DJANGO_SUPERUSER_PASSWORD
        value: ${DJANGO_SUPERUSER_PASSWORD}
