services:
  - type: web
    plan: free
    name: todo-api
    runtime: python
    buildCommand: "./build.sh"
    startCommand: python -m gunicorn django_project.asgi:application -k uvicorn.workers.UvicornWorker
    envVars:
      - key: DATABASE_URL
        value: ${DATABASE_URL}
      - key: SECRET_KEY
        value: ${SECRET_KEY}
      - key: WEB_CONCURRENCY
        value: ${WEB_CONCURRENCY}
